@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-bg: #12344d;
  --sidebar-icon-color: #fff;
}

.ag-theme-alpine {
  --ag-data-color: #12344d;
  --ag-borders: none;
  --ag-header-foreground-color: #12344d;
  --ag-header-background-color: rgb(245, 247, 249);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: System stack, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 20px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #b6bfc3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

a.no-underline {
  text-decoration: none;
}

.required::after {
  content: '*';
  color: #f00;
  padding: 0 2px;
}
