* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: System stack, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

fw-checkbox span {
  position: relative;
  bottom: 3px;
}
