@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-bg: #12344d;
  --sidebar-icon-color: #fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: System stack, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

a.no-underline {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
